.animated-line-container {
  position: absolute;
}

.animated-line-svg {
  width: 70vh;
  height: 70vh;
}

@media screen and (max-width: 576px) {
  .animated-line-svg {
    height: 80vw;
    width: 80vw;
  }
}