.react-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.react-winner-modal-wrapper {
  min-width: 300px;
  width: 40vh;
  max-width: 500px;
}

.react-winner-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  min-height: 300px;
  text-align: left;
  position: relative;
  background-color: #171717;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  border-radius: 0.3rem;
  padding: 1rem;
}

.add-form-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
  height: 30px;
}

.game-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner-div {
  font-size: 7vh
}

.activePastForm {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background-color: #3498db;
  padding: 0px 8px 0px 8px;
  border: solid 1px #3498db;
  border-radius: 10px 10px 0px 0px;
  transition: 500ms;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-left: 8px;
}

.inactivePastForm {
  font-size: 22px;
  font-weight: bold;
  transition: 500ms;
  background-color: rgba(255, 255, 255, 0.1);
  color: #3498db;
  border: solid 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding: 0px 8px 0px 8px;
  border-radius: 10px 10px 0px 0px;
  height: 30px;
  margin-left: 8px;
}

.inactivePastForm:hover {
  background-color: rgba(255, 255, 255, 0.44);;
  border: solid 1px rgba(255, 255, 255, 0.44);;
}

.activeFutureForm {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(213, 219, 52, 0.77);
  padding: 0px 8px 0px 8px;
  border: solid 1px rgba(213, 219, 52, 0.77);
  border-radius: 10px 10px 0px 0px;
  transition: 500ms;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-left: 8px;
}

.inactiveFutureForm {
  font-size: 22px;
  font-weight: bold;
  transition: 500ms;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(213, 219, 52, 0.77);
  border: solid 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding: 0px 8px 0px 8px;
  border-radius: 10px 10px 0px 0px;
  height: 30px;
  margin-left: 8px;
}

.inactiveFutureForm:hover {
  background-color: rgba(255, 255, 255, 0.44);;
  border: solid 1px rgba(255, 255, 255, 0.44);;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.label {
  display: flex;
  width: 300px;
  align-items: center;
  margin: 20px 0 5px 0;
}

.desc-icon {
  height: 1.3rem;
  margin-right: 5px;
}

.input:hover {
  outline: none;
  background-color: #777777;
  caret-color: transparent;
}

.input:focus {
  outline: none;
  background-color: #777777;
  caret-color: transparent;
}

.check {
  display: flex;
  align-items: center;
  &__icon {
    height: 1.3rem;
    margin-top: 3px;
    margin-left: 10px;
  }
}

.start-form {
  &__name {
    padding-left: 10px;
    width: 240px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: white;
  }
  &__name::placeholder {
    color: white;
  }
  &__name:focus::placeholder {
    color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  .winner-div {
    font-size: 5vh;
  }
}